.pageBoxContainer {
    padding: 1rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    border: solid 1px black;
    background-color: rgb(75, 132, 238);
}

.pageBoxContainer:hover {
    background-color: rgb(96, 179, 238);
    
}
