.pageBoxContainer {
	display: flex;
	align-items: center;
	width: auto;
    position: relative;

	background-color: rgb(75, 132, 238);
	flex-direction: column;
	border-radius: 10px;
    
}

.pageBoxContainer:hover {
	background-color: rgb(96, 179, 238);
}
